.card-container {
	padding: 5rem 0 5rem 10rem;
	@include flex-row;
	justify-content: space-between;
}

.card {
	width: 36.4rem;
	position: relative;

	&--img-container {
		&__img {
			border-radius: 1.5rem;
			width: 100%;
		}

		&__status {
			position: absolute;
			top: 1rem;
			left: 1rem;
			padding: 0.5rem 1rem;

			font-size: 1.5rem;
			text-transform: uppercase;
			color: $color-secondary-dark;
			background-color: $color-primary-white;
			border-radius: 0.5rem;
		}
	}

	&--details {
		margin-top: 0.5rem;
		font-size: 1.7rem;

		&__rating {
			@include flex-start;
		}

		&__star {
			width: 1.5rem;
			margin-right: 0.5rem;
		}

		&__rating-score {
			margin-right: 0.5rem;
		}

		&__user-count,
		&__user-country {
			margin-right: 0.5rem;
			color: $color-secondary-white;
			font-weight: 300;
		}

		&__info {
			font-size: 1.8rem;
			font-weight: 400;
			margin: 1rem 0;
		}

		&__pricing {
			font-size: 1.8rem;
		}
	}
}
